<div class="container_animal">
  <div class="container_result_animal">
    <aside class="display-name">
      <mat-card class="card a">
        <div class="headerCard">
          <mat-card-subtitle class="title">Nicolette</mat-card-subtitle>
        </div>
        <mat-card-content>
          <p class="body-card">Numéro national</p>
          <p class="value">123456789</p>
          <p class="body-card">Numéro de travail</p>
          <p class="value">123456789</p>
        </mat-card-content>
        <!--         <mat-card-actions class="actions">
          <button mat-button class="btn">Modifier</button>
          <button mat-button class="btn">Sortir</button>
        </mat-card-actions> -->
        <mat-card-footer></mat-card-footer>
      </mat-card>
    </aside>
    <div class="display-detail">
      <mat-card class="card b">
        <div class="headerCard">
          <mat-card-subtitle class="title">Détails</mat-card-subtitle>
        </div>
        <mat-card-content>
          <p class="body-card label">
            Date de naissance : <span class="value">16 juillet 20022</span>
          </p>
          <p class="body-card label">
            Lieu de naissance : <span class="value">Lille des troupeaux</span>
          </p>
          <div class="l"></div>
          <p class="body-card label">
            Entrée : <span class="value">Naissance</span>
          </p>
          <p class="body-card label">
            Sortie : <span class="body-card value"></span>
          </p>
          <p class="body-card label">
            Race : <span class="body-card value">Azerty</span>
          </p>
        </mat-card-content>
        <mat-card-footer> </mat-card-footer>
      </mat-card>

      <mat-card class="card b">
        <div class="headerCard">
          <mat-card-subtitle class="title"
            >Localisation actuel</mat-card-subtitle
          >
        </div>
        <mat-card-content>
          <p class="body-card">Troupeau :</p>
          <p class="body-card">Parc :</p>
        </mat-card-content>
        <mat-card-footer> </mat-card-footer>
      </mat-card>
    </div>
  </div>
</div>
