<div class="container_animal">
  <div class="container_result_animal">
    <aside class="display-name">
      <mat-card class="card a">
        <div class="headerCard">
          <mat-card-subtitle class="title"> {{data.id}}  {{data.nom}} </mat-card-subtitle>
        </div>
        <mat-card-content>
          <p class="body-card">Numéro de travail</p>
          <p class="value"> {{data.reference}} </p>
        </mat-card-content>
        <mat-card-footer></mat-card-footer>
      </mat-card>
    </aside>
    <div class="display-detail">
      <mat-card class="detail">
        <div class="headerCard">
          <mat-card-subtitle class="title">Détails</mat-card-subtitle>
        </div>
        <mat-card-content>
          <div class="l"></div>
          <p class="body-card label">
            Entrée : <span class="value"> {{data.entree.date | date : 'longDate' :undefined : 'fr'}} </span>
            <br>
            Raison : <span class="value"> {{data.entree.raison}} </span>
          </p>
  
          <p class="body-card label">
            espece : <span class="body-card value"> {{data.espece.libelle}} </span>
          </p>
        </mat-card-content>
        <mat-card-footer> </mat-card-footer>
      </mat-card>

      <mat-card class="card b">
        <div class="headerCard">
          <mat-card-subtitle class="title"
            >Localisation actuel</mat-card-subtitle
          >
        </div>
        <mat-card-content>
          <p class="body-card">Troupeau : {{data.troupeau.id}} - {{data.troupeau.espece.libelle}} </p>
          <p class="body-card">Parc : {{data.troupeau.parc.libelle}} </p>
        </mat-card-content>
        <mat-card-footer> </mat-card-footer>
      </mat-card>
    </div>
  </div>
</div>
