#gifCPT {
    margin-top: 80px;
    text-align: center;
    color: blue;

}

#gifCPT img {

    width: 500px;
    margin-bottom: 30px;

}


#gifCPT h3 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: xx-large;


}