<p>form-courses works!</p>

<div>
    <form [formGroup]="article" (ngSubmit)="onSubmit()">
        <div>
            <label >Designation : </label>
            <input type="text" formControlName='designation' name="designation" placeholder="Designation"/>
            <span *ngIf="submitted && form['designation'].invalid">*Non nonValide</span>
        </div>

        <div>
            <label >Prix : </label>
            <input type="number" formControlName='prix' name="prix" placeholder="Prix"/>
            <span *ngIf="submitted && form['prix'].invalid">*prix nonValide</span>
        </div>
        <button type="submit">Ajouter</button>
    </form>
</div>
