#gifCPT {
    margin-top: 80px;
    color: rgb(71, 71, 141);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#gifCPT img {

    width: 600px;
    margin-bottom: 30px;
    border-radius: 25%;

}


#gifCPT h3 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: xx-large;

}

//Responsive Format mobile
@media screen and (max-width: 750px) {
    #gifCPT img {

        width: 300px;
        margin-bottom: 30px;
        border-radius: 25%;

    }

}