#gifCPT {
    margin-top: 70px;
    margin-bottom: 20px;
    text-align: center;
    color: black
}

#gifCPT img {

    width: 30%;
    margin-bottom: 1%;

}


#gifCPT h3 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: xx-large;


}