<mat-toolbar class="navbar">

    <div class="titre">
        <img class="logo" src="assets/logoHerdtrack.png" alt="" width="25">
        <h1>Herdtrack</h1>
    </div>

    <div class="action">
        <!--   <a class="item" routerLink="carnets">Carnets</a>   -->
        <a class="item" routerLink="/list">Liste</a>
        <!--    <a class="item" routerLink="parcs">Parcs</a>   -->
        <a class="item" routerLink="/enregistrer/ajouter">Enregistrer / Ajouter</a>

    </div>
    <div class="responsive">
        <img class="logoR" src="assets/logoHerdtrack.png" alt="" width="25">
        <a class="itemR" routerLink="/list"><img src="assets/icons8-grange-50.png" alt="grange" width="47px"
                height="51px"></a>
        <a class="itemR" routerLink="/enregistrer/ajouter"><img src="assets/icons8-ajouter-à-la-base-de-données-96.png"
                alt="ajouter" width="47px" height="51px"></a>
        <!--   <a class="itemR" routerLink="utilisateur"><img src="assets/icons8-profile-64.png" alt="grange" width="47px"
                                    height="51px"></a>
                                -->
    </div>
    <div class="admin">
        <!--       <a class="item" routerLink="contacts">Contacts</a>    -->
        <!--      <a class="item" routerLink="profil">Profil</a>    -->
    </div>
</mat-toolbar>