<mat-card class="card">
  <button class="buttonCard" id="button" routerLink="/animal/{{animal.id}}" mat-button>DETAILS</button>
    <div class="headerCard">
        <mat-card-subtitle class="title">nom : <p>{{animal.nom}}</p><br> numero : <p>{{animal.reference}} </p></mat-card-subtitle>
    </div>
    <hr>
    <mat-card-content>
      <p class="body-card troupeau">Troupeau</p>
      <p class="body-card"> {{animal.troupeau.id}} - espece : {{animal.troupeau.espece.libelle}} </p>
    </mat-card-content>
    <hr>
    <mat-card-content>
        <p class="body-card parc">Parc </p>
       <p class="body-card parc">{{animal.troupeau.parc.libelle}} </p> 
    </mat-card-content>
    
    <!-- <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions> -->
  </mat-card>