<mat-card class="card">
    <div class="headerCard">
        <mat-card-subtitle class="title">nom :<br> numero </mat-card-subtitle>
    </div>
    
    <hr>
    <mat-card-content>
      <p class="body-card troupeau">Troupeau</p>
      <p class="body-card">troupeau</p>
    </mat-card-content>
    <hr>
    <mat-card-content>
        <p class="body-card parc">Parc </p>
        <p class="body-card">parc</p>
    </mat-card-content>
    <!-- <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions> -->
  </mat-card>