.container{
    margin-left:15px;
    margin-top:15px;
}
.alignementCard{
    display: flex;
    justify-content: center;
}
.card{
    margin-right:15px;
}
//responsive
@media screen and (max-width: 750px) {
    .alignementCard{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .card{
        padding-top: 15px;
    }
    
  }