.containerList{
    max-width: 1050px;
    margin: 90px auto;
}
.alignementCard{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card{
    margin-right:45px;
}
//responsive
@media screen and (max-width: 768px)  {
    .alignementCard{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .card{
        height:120px;
        margin-bottom: 90px;
        margin-right: 0px;
    }
    
  }
  @media screen and (width > 769px) and (width<1045px){
    .containerList{
        max-width: 769px;
        margin: 90px auto;
    }
  }