<div class="formulaire">

    <h3 class="titleForm">Enregistrement de l'animal :</h3>
    <div class="spacer"></div>
    <form [formGroup]="animal" (ngSubmit)="onSubmit()" class="registerForm">
        <!-- <div class="champ">
            <label for="nom">
                Nom :
                <input type="text" formControlName="nom">
            </label>
        </div> -->
        <div>
            <label >nom : </label>
            <input type="text" formControlName='nom' name="nom" placeholder="nom"/>
            <span *ngIf="submitted && form['nom'].invalid">*Nom nonValide</span>
        </div>

        <div class="champ">
            <label for="reference">
                numéro de travail :
                <input type="string" formControlName="reference">
                <span *ngIf="submitted && form['reference'].invalid">*Numéro nonValide</span>
            </label>
        </div>

        <div class="champ">
            <label for="entree">
                motif d'entrée :



                <select name="entree" formControlName="entree" class="selector">
                <option value="0">Naissance sur site</option>
                <option value="1">Achat</option>
                <!-- <option value="{'id': 1,'date':'2022-07-21','raison': 'Naissance'}">Naissance sur site</option>
                <option value="{'id': 2,'date':'2022-07-21','raison': 'Achat'}">Achat</option> -->
                </select>
                <span *ngIf="submitted && form['entree'].invalid">*Entrée nonValide</span>
            </label>
        </div>
        <div class="champ">
            <label for="espece">
                espece :
                <select name="espece" formControlName="espece" class="selector">
                  <option value="0">Bovin</option>
                  <option value="1">Ovin</option>
                  <option value="3">Caprin</option>
                </select>
                <span *ngIf="submitted && form['espece'].invalid">*Espece nonValide</span>
            </label>
        </div>
        <!-- <div class="champ">
            <label for="troupeau">
                troupeau :
                <select name="troupeau" formControlName="troupeau" class="selector">

                        <option value="{'id':1,'parc':{'id':1,'libelle':'La buvette','nombreTroupeau':3,'quarantaine':false},'espece':{'id':1,'libelle':'Bovin'}}">n°1 - parc : la buvette</option>
                        <option value="{'id':2,'parc':{'id':1,'libelle':'Le pousse-café','nombreTroupeau':3,'quarantaine':false},'espece':{'id':1,'libelle':'Bovin'}}">n°2 - parc : le pousse-café</option>

                </select>
                <span *ngIf="submitted && form['troupeau'].invalid">*Troupeau nonValide</span>
            </label>
        </div> -->
        <div class="spacer"></div>
        <button type="submit" >Ajouter</button>
    </form>
    </div>
